@import "tailwindcss";

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

body {
  background: radial-gradient(
  circle at top,
  #180000 0%,
  #0a0000 40%,
  #000 100%
);
  color: white;
}

h2,
h3 {
  font-family: "Nosifer", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-family: "Alegreya", serif;
  font-style: normal;
}

@theme {
  --breakpoint-xs: 950px;
}

@theme {
  --animate-motion-top-bottom: motion-top-bottom 10s ease-in-out infinite;

  @keyframes slowZoom {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.05);
    }
  }

  @keyframes orbitar {
    from {
      transform: rotate(0deg) translateX(150px) rotate(0deg);
    }
    to {
      transform: rotate(360deg) translateX(150px) rotate(-360deg);
    }
  }
}
